<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Percentages and discounts</title>
    <!-- Palm Tree CSS -->
    <link
      rel="stylesheet"
      href="https://adonyssantos.me/palm-tree-css/dist/css/style.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="container text-center">
      <h1 class="display-1">Percentages and discounts</h1>
    </header>
    <main class="container">
      <section class="card">
        <form>
          <label for="price">
            <span class="bold">Price:</span>
            <input type="number" name="price" id="price" class="input" />
          </label>
          <label for="discount">
            <span class="bold">Discount:</span>
            <input type="number" name="discount" id="discount" class="input" />
          </label>
          <button type="button" id="calculate-discount" class="btn">
            Calculate discount
          </button>
        </form>
        <output id="result"></output>
      </section>
    </main>

    <script src="../src/shop.js"></script>
  </body>
</html>
